@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');


.singup-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 115vh;
    margin-top: 130px;
}
.tittle-singup{
    align-self: center;
    font-size: 50px;
    color: #6336E4;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 25px;
    margin-top: 40px
}

.singup{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 70%;
    width: 500px;
    border: 1px solid #4A4A4A;
    border-radius: 20px;
    justify-content: space-around;
    padding: 50px;
}

.input-userr,.input-email,.input-passwordd{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #4A4A4A;
}


.input-user-email, .input-user-password, .input-user-name{
    border: none;
    background: none;
    padding: 10px;
    width: 100%;
    margin-top: 35px;
}
.input-user-password{
    margin-top: 60px;
}
.input-label{
    font-size: 32px;
    position: absolute;
}

.boton{
    margin: 40px;
}

#contraseña{
    top: 10px;
}