@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

.card{
    height: 100%;
    border: 1px solid #CCCCCC;
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    align-items: center;
    justify-content: space-around;
    overflow: auto;
    width: 1000px;
    padding: 0 50px 0 50px;
    overflow-y: hidden;
    position: relative;
    gap: 40px;
}
.card:hover{
    transition: 0.5s;
    background-color: #292929;
}


.edit-icon{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    fill: #CCCCCC;
    width: 40px;
    height: 40px;
}

.edit-icon:hover{
    fill: #6336E4;
    cursor: pointer;
}

.nombrePais{
    font-size: 30px;
}

.datas{
    padding: 20px 0 20px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}

.sta-refe{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bandera{
    width: 100px;
    height: 66.607px;
    object-fit: cover;
}
ul{
    list-style-type: none;
    
}

.gol{
    font-size: 50px;
}

.flag{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 0 50px 0;
    gap: 10px;
}
.fecha, .estadio{
    font-size: 25px;
}
.refree{
    font-size: 17px;
}