@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

.main-formulario-partidos{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}

.formPartido{
    position: fixed;
    border: 2px solid #4A4A4A;
    background-color: #242424;
    border-radius: 20px; 
    font-family: 'Ubuntu', sans-serif;
    top: 20%;
    left: 20%;  
    right: 20%;
    padding: 30px;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 50px 10px #171717, 0px 0px 50px 500px #1f1f1fa2;
}
.close-icon{
    position: absolute;
    top: -10px;
    right: -10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    fill:  white;
}
.close-icon:hover{
    fill: #6336E4;
}
.formPartido label{
    font-size: 25px;
}
.generales input{
    padding: 20px;
    font-size: 15px;
    background: none;
    height: 57px;
    width: 280px;
    border-radius: 10px;
    border: 1px solid #4A4A4A;
}
.for-teams select{
    height: 57px;
    width: 280px;
    border-radius: 10px;
    background: none;
    padding: 20px;
    font-size: 15px;
}
.for-teams select:focus{
    background-color: #242424;
}
.for-teams input{
    padding: 20px;
    font-size: 15px;
    background: none;
    height: 57px;
    width: 50px;
    border-radius: 10px;
    border: 1px solid #4A4A4A;
}

.datos-generales{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.tituloPartido{
    font-size: 50px;
    color: #6336E4;
    font-weight: 400;
    line-height: normal;
    padding: 30px 0 70px 0;
}

.generales, .for-teams{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.generales .date, .generales .stadium, .generales .reffere{
    display: flex;
    flex-direction: column;
}
.for-teams{
    display: flex;
    flex-direction: column;
}

.local-team, .visiting-team{
    display: flex;
    flex-direction: row;
    align-items: end;
}

.datas-local-1, .datas-visitor-1, .datas-local-2{
    display: flex;
    flex-direction: column;
}

.cards{
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.card-yellow, .card-red{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.imgR,.imgY{
    width: 28px;
    height: 53px;
}

.btn-formMatch{
    background-color: #6436e400;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 20px;
    padding: 10px 30px;
    cursor: pointer;
    margin-top: 30px;
    border: 2px solid #6336E4;
    border-radius: 20px;
}
.btn-formMatch:hover{
    background-color: #6336E4;
}
