@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

#formPartido{
    border: 2px solid grey;
    border-image: conic-gradient(grey) 1;
    width: 1124px;
    height: 601px;
    top: 201px;
    left: 158px;
    margin: 60px 40px 70px 70px;
    align-items: center;
    border-radius: 20px; 
    font-family: 'Ubuntu', sans-serif;
}

#tituloPartido{
    width: 719px;
    height: 73px;
    top: 54px;
    font-size: 50px;
    color: #6336E4;
    margin-left: 50px;
}

.red, .imgR{
    position: absolute;
    left: 10%;
    bottom: -110%;
    left: 54%;
}



.red{
    width: 30px;
    padding: 15px 8px;
    left: 58%;
    border-radius: 10px;
    border-color: gray;
}

.imgR,.imgY{
    width: 40px;
    right: 23%;
}

.yellow, .imgY{
    position: absolute;
    left: 10%;
    bottom: -110%;
    left: 44%;
}

.localGoal, .visitingGoal{
    position: absolutes;
    right: 10%;
}

.yellow{
    width: 30px;
    padding: 15px 8px;
    border-radius: 10px;
    border-color: gray;
    left: 48%;
}