@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');


.main-form-equipos{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.container-teams{
  height: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#datos{
    font-size: 50px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    margin-bottom: 50px;
}

#formEquipo{
    border: 2px solid #4A4A4A;
    width: 80%;
    height: 60%;
    padding: 80px 100px;
    align-items: center;
    border-radius: 20px; 
    font-family: 'Ubuntu', sans-serif;
}

.inputs{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputTeam{
    width: 294px; 
    height: 57px;
    padding-left: 20px;
    background-color: #4a4a4a00;
    border-radius: 10px; 
    border: 1px solid #ccc;
    margin-top: 10px;
}

.label-team{
  font-size: 25px;
}
.inputTeam::placeholder {
  color: rgba(255, 255, 255, 0.30);
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.inputTeam:focus{
  outline: none;
  border: 2px solid #6336E4;
}

.formInput{
    display: flex;
    flex-direction: column; 
}

.imagen-team-preview{
  width: 179px;
  height: 119px;
  object-fit: cover;
}
.preview-boton{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.team-preview{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-name-preview{
  font-size: 30px;
}
.url{
  text-decoration: none;
  font-size: 20px;
}
