@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');


header{
    background: linear-gradient(to right, #542AAC,#8DBDF5);
    display: flex;
    align-items: center;
    padding: 40px;
    height: 120px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;
}

nav{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ul1, .ul2{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    gap: 50px;
}
.ul2{
    justify-content: flex-end;
}


li{
    padding: 10px;
    align-items: center;
    display: flex;
    width: 100%;
    width: max-content;
}

.navi{
  text-decoration: none;
  color: inherit;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
}


.home-icon, .user-icon{
  fill: white;
}

.user-icon{
  fill: white;
  width: 40px;
  height: 40px;
}

.btn-login{
  border: 1px solid white;
  padding: 10px 50px;
  border-radius: 30px;
  color: white;
  text-decoration: none;
  font-size: 32px;
}
.btn-login:hover{
  background-color: rgba(255, 255, 255, 0.144);
  transition: 0.5s;
}
