.contenedor{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pensando{
    width: 200px;
}
#error{
    font-size: 110px;
}

#mensaje{
    font-size: 30px;
}
