@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

  
  .search button {
    background: none;
    border: none;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
  }
  

  .buscador{
    background: none;
    width: 400px;
    height: 60px;
    padding: 10px 0;
    border: 1px solid white;
    border-radius: 10px 0 0 10px;
    font-family: 'Ubuntu', sans-serif;
  }
  .buscador::placeholder{
    color: white;
    padding-left: 10px;
    font-size: 22px;
    text-justify: auto;
  }

.search-container{
  display: flex;
  align-items: center;
  flex-direction: row;
}
.btn-search-active{
  background: none;
  border: 1px solid white;
  height: 60px;
  padding-left: 10px;
  border-radius: 0 10px 10px 0;
}
.btn-search{
  border: none;
  background: none;
  height: 60px;
  padding-left: 10px;
}

.search-icon{
  fill: white;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}