@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
}
#root{
  width: 100%;
  height: 100vh;
}
